<ion-header>
  <ion-toolbar class="logo">
    <ion-title style="color: white;" class="ion-text-center">
      Moofy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:black;">
<div style="display: flex;justify-content: center;text-align: center;flex-direction: column;margin-top: 10rem;">
  <h2 style="color: white;font-weight: 700;font-size: 35px;">Bem vindo!</h2>
  <p style="color: white;font-size: 20px;">Aplicativo para listar filmes em cartaz</p>
  <div>
    <ion-button (click)="goToCartaz()">Cartaz</ion-button>
  </div>
  <p style="color: white;font-size: 20px;">E os mais bem avaliados pelo publico</p>
  <div>
    <ion-button (click)="goToFavoritos()">Favoritos</ion-button>
  </div>
</div>

</ion-content>